boto3
Unidecode
phonenumbers>=8.12.20
langid>=1.1.6
PyMySQL~=1.0.2
cryptography
redis>=3.5.3
urllib3>=1.25.10
pinyin>=0.4.0
requests>=2.24.0
python-dateutil>=2.8.0
elasticsearch>=8.0.1
httpcore>=0.9.1
httpx>=0.13.3
pymongo
cython
joblib
PyCryptodome
ipython
scipy
urllib3
inflection
pandas
Cython
opencv-python>=4.1.2
Pillow>=9.0
PyYAML>=5.3.1
tqdm>=4.41.0
seaborn>=0.11.0
transformers~=4.52
optimum
accelerate
