aenum
ipython
nltk
jupyter
numpy
scipy
tornado
pkuseg
pinyin
beautifulsoup4
redis
urllib3
inflection
requests
googletrans
pymongo
tornado
geopy
elasticsearch
elasticsearch6
apscheduler
langid
googletrans==4.0.0rc1
cyhunspell
