boto3
Unidecode
phonenumbers>=8.12.20
geopy>=2.2.0
langid>=1.1.6
PyMySQL~=1.0.2
cryptography
cyhunspell
redis>=3.5.3
urllib3>=1.25.10
pinyin>=0.4.0
requests>=2.24.0
word2number>=1.1
python-dateutil>=2.8.0
elasticsearch>=8.0.1
googletrans==4.0.0rc1
httpcore>=0.9.1
httpx>=0.13.3
xgboost>=1.5.2
pymongo
cython
joblib
pkuseg
PyCryptodome
aenum
ipython
nltk
#jupyter
#jupyter-resource-usage
#scipy
beautifulsoup4
urllib3
inflection
tornado
apscheduler
pandas
tensorboard>=1.5
Cython
matplotlib>=3.2.2
#numpy>=1.18.5
#opencv-python>=4.1.2
#Pillow>=9.0
PyYAML>=5.3.1
#scipy>=1.4.1
#tensorboard>=1.5
tqdm>=4.41.0
seaborn>=0.11.0
thop  # FLOPS computation
pycocotools~=2.0.4
